<!-- /snippets/cart-drawer.liquid -->

<div id="CartDrawer" class="drawer drawer--right">
  <div class="drawer__header">
    <div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
    <div class="drawer__close js-drawer-close">
      <button type="button" class="icon-fallback-text">
        <span class="custom-icon-x" aria-hidden="true"></span>
      </button>
    </div>
  </div>
  <div class = "cart-drawer-spacer-line"></div>
  <div id="CartContainer"></div>
</div>