{% unless shop.enabled_payment_types == empty %}
<ul class="payment-icon-list">
  {% for type in shop.enabled_payment_types %}
    <li>{{ type | payment_type_svg_tag: class:'payment-icon' }}</li>
  {% endfor %}
</ul>
{% endunless %}