<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ shop.name }}</title>

    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {% include 'header-javascript' %}
  </head>
      {{ content_for_header }}
  <body>
    {{ content_for_layout }}
    {% include 'footer-javascript' %}
  </body>
</html>
