<!-- /sections/about-page.liquid -->

{% include 'block-sections' %}

{% schema %}
{
	"name": "About page",
	"blocks": [
		{
			"name": "Banner",
			"type": "banner",
			"limit": 2,
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "select",
					"id": "height",
					"label": "Banner height",
					"options": [
						{
							"value": "one-hundred",
							"label": "Full screen height"
						},
						{
							"value": "original-height",
							"label": "Image height"
						},
						{
							"value": "big",
							"label": "750px"
						},
						{
							"value": "normal",
							"label": "650px"
						},
						{
							"value": "small",
							"label": "550px"
						}
					],
					"default": "normal"
				},
				{
					"type": "text",
					"id": "subheading",
					"label": "Subheading"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "Welcome to Palo Alto"
				},
				{
					"type": "textarea",
					"id": "text",
					"label": "Text",
					"default": "A unique layout with a striking design"
				},
				{
					"type": "select",
					"id": "text_position",
					"label": "Text position",
					"default": "center",
					"options": [
						{ "label": "Left", "value": "left" },
						{ "label": "Center", "value": "center" },
						{ "label": "Right", "value": "right" },
						{ "label": "Bottom left", "value": "bottom-left" },
						{ "label": "Bottom right", "value": "bottom-right" }
					]
				},
				{
					"type": "header",
					"content": "Typography"
				},
				{
					"type": "range",
					"id": "heading_font_size",
					"label": "Heading size",
					"unit": "px",
					"step": 4,
					"min": 40,
					"max": 64,
					"default": 48
				},
				{
					"type": "range",
					"id": "text_font_size",
					"label": "Text size",
					"unit": "px",
					"step": 2,
					"min": 16,
					"max": 28,
					"default": 20
				},
				{
					"type": "header",
					"content": "Colors"
				},
				{
					"type": "color",
					"id": "color_text",
					"label": "Text",
					"default": "#ffffff"
				},
				{
					"type": "color",
					"id": "color_overlay",
					"label": "Overlay",
					"default": "#222222"
				},
				{
					"type": "range",
					"id": "overlay_opacity",
					"label": "Overlay opacity",
					"step": 1,
					"max": 100,
					"min": 0,
					"unit": "%",
					"default": 10
				}
			]
		},
		{
			"name": "Product feature",
			"type": "product-feature",
			"limit": 2,
			"settings": [
				{
					"type": "header",
					"content": "Images"
				},
				{
					"type": "select",
					"id": "image_position",
					"label": "Image position",
					"info": "Affects the second image in this block.",
					"default": "stacked",
					"options": [
						{ "label": "Overlapping", "value": "overlapping" },
						{ "label": "Stacked", "value": "stacked" }
					]
				},
				{
					"type": "image_picker",
					"id": "image_1",
					"label": "Image"
				},
				{
					"type": "url",
					"id": "image_link_1",
					"label": "Image link"
				},
				{
					"type": "image_picker",
					"id": "image_2",
					"label": "Image"
				},
				{
					"type": "url",
					"id": "image_link_2",
					"label": "Image link"
				},
				{
					"type": "checkbox",
					"id": "hide_image_2",
					"label": "Hide on mobile",
					"default": false
				},
				{
					"type": "header",
					"content": "Button"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button text"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link"
				},
				{
					"type": "header",
					"content": "Text"
				},
				{
					"type": "select",
					"id": "text_position",
					"label": "Position",
					"default": "normal",
					"options": [
						{ "label": "Normal", "value": "normal" },
						{ "label": "Overlapping", "value": "overlapping" }
					]
				},
				{
					"type": "select",
					"id": "text_alignment",
					"label": "Alignment",
					"default": "center",
					"options": [
						{ "label": "Center", "value": "center" },
						{ "label": "Left", "value": "left" }
					]
				},
				{
					"type": "color",
					"id": "line_color",
					"label": "Line color",
					"default": "#f3a293"
				},
				{
					"type": "textarea",
					"id": "heading",
					"label": "Heading",
					"default": "This is a heading for a Product feature block."
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Description",
					"default": "<p>Use this text to share information about the point put forth above. Describe a product, your brand, or what makes you special.</p>"
				}
			]
		},
		{
			"name": "Rich text",
			"type": "rich-text",
			"settings": [
				{
					"type": "select",
					"id": "text_position",
					"label": "Text position",
					"default": "center",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "right",
							"label": "Right"
						}
					]
				},
				{
					"type": "text",
					"id": "subheading",
					"label": "Subheading",
					"default": "Subheading"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Our Story"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text",
					"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button text",
					"default": "Learn More"
				},
				{
					"type": "url",
					"id": "button_url",
					"label": "Button link"
				},
				{
					"type": "header",
					"content": "Colors"
				},
				{
					"type": "color",
					"id": "color_text",
					"label": "Text",
					"default": "#333333"
				},
				{
					"type": "color",
					"id": "color_bg",
					"label": "Background",
					"default": "#ffffff"
				}
			]
		},
		{
			"name": "Image with text",
			"type": "image-with-text",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "checkbox",
					"id": "image_background",
					"label": "Set image as a background",
					"default": false
				},
				{
					"type": "select",
					"id": "text_position",
					"label": "Text position",
					"default": "left",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "right",
							"label": "Right"
						}
					]
				},
				{
					"type": "text",
					"id": "subheading",
					"label": "Subheading",
					"default": "Subheading"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Our Story"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text",
					"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button text",
					"default": "Learn More"
				},
				{
					"type": "url",
					"id": "button_url",
					"label": "Button link"
				},
				{
					"type": "header",
					"content": "Colors"
				},
				{
					"type": "color",
					"id": "color_text",
					"label": "Text",
					"default": "#333333"
				},
				{
					"type": "color",
					"id": "color_bg",
					"label": "Background",
					"default": "#ffffff"
				}
			]
		}
	]
}
{% endschema %} 